/* ProductView.css */
.product-view {
    display: flex;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    flex: 1;
    padding: 10px;
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    flex: 2;
    padding: 10px;
  }
  
  .product-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .product-description {
    font-size: 1rem;
    color: #777;
  }
  
  .product-price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilo para los botones */
.boton{
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; /* Agrega margen inferior para separar los botones */
  margin-left: 10px; /* Margen izquierdo para los botones */
}

  
  .boton:hover {
    background-color: #e68a00;
  }
  