/* Estilo para la barra de navegación */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5; /* Color de fondo de la barra de búsqueda */
  padding: 10px; /* Espaciado interno ligeramente aumentado */
  border: 1px solid #ddd; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  max-height: 80px; /* Altura máxima de la barra de navegación */
  overflow: hidden; /* Ocultar contenido excedente */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.logo {
  flex: 0 0 auto; /* El logotipo no se estira */
  margin-right: 20px; /* Espacio entre el logotipo y el campo de búsqueda */
}

.logo img {
  max-height: 60px; /* Tamaño máximo de la imagen del logo */
}

.search-input {
  flex: 1; /* El campo de búsqueda ocupa todo el espacio restante */
  border: none;
}

/* Estilos para el campo de búsqueda */
.form-control {
  width: 100%;
  padding: 8px; /* Espaciado interno ligeramente aumentado */
  border: none;
  outline: none;
  font-size: 16px; /* Tamaño de fuente aumentado */
  background: transparent;
}

/* Estilos para el selector de categorías */
.category-select {
  flex: 0.5; /* El selector de categorías ocupa todo el espacio restante */
  padding-right: 20px; /* Espaciado a la derecha para separarlo del botón de búsqueda */
}

.category-select select {
  width: 100%;
  padding: 8px; /* Espaciado interno ligeramente aumentado */
  border: none;
  outline: none;
  font-size: 16px; /* Tamaño de fuente aumentado */
  background: transparent;
  cursor: pointer; /* Cambiar el cursor al puntero */
}

/* Estilos para el botón de búsqueda */
.search-button button {
  padding: 8px 16px; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
  font-size: 16px; /* Tamaño de fuente aumentado */
  cursor: pointer; /* Cambiar el cursor al puntero */
  transition: background-color 0.2s; /* Transición suave para el color de fondo */
}

/* Estilo cuando se coloca el cursor sobre el botón */
.search-button button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}
